{% extends "base.html" %}

{% block content %}
    <h2> Places to visit: </h2>
    <table border="1px ">
    <tr>
    	<td>ID</td>
    	<td>Restaurant name</td>
    	<td>Location</td>
    	<td>Zomato rating</td>
    	<td>Cost for two	</td>
    </tr>
    {% for item in data %}
	<tr>	
    	<td>{{item[0]}}</td>
    	<td>{{item[1]}}</td>
    	<td>{{item[2]}}</td>
    	<td>{{item[3]}}</td>
    	<td>{{item[4]}}</td>
	</tr>
	{% endfor %}
	</table>
	<br>
	<form>
		<input type="button" value="Log out !! " onclick="window.location.href='/logout'" />
	</form> 
	
{% endblock %}

'''
CREATE TABLE `todolist` (
`id` int(11) NOT NULL,
`restaurant_name` varchar(128) DEFAULT NULL,
`location` varchar(128) DEFAULT NULL,
`zomato_rating` float(12) DEFAULT NULL,
`average_cost` double(10000) DEFAULT NULL,
PRIMARY KEY (`id`));

INSERT INTO todolist(id,restaurant_name,location,zomato_rating,average_cost) VALUES (1, 'Skky Ramada', 'Powai', 4.1, 3000 );
INSERT INTO todolist(id,restaurant_name,location,zomato_rating,average_cost) VALUES (2, 'Bayview Cafe', 'Coloba', 3.7, 1200 );
INSERT INTO todolist(id,restaurant_name,location,zomato_rating,average_cost) VALUES (3, 'Light House Cafe', 'Worli', 4.2, 1200 );
INSERT INTO todolist(id,restaurant_name,location,zomato_rating,average_cost) VALUES (4, 'Imperial China', 'Chakala', 4.5, 3500 );
INSERT INTO todolist(id,restaurant_name,location,zomato_rating,average_cost) VALUES (5, 'Tamasha', 'Lower Parel', 4.2, 1800 );
INSERT INTO todolist(id,restaurant_name,location,zomato_rating,average_cost) VALUES (6, 'Ark - Deck Bar', 'Bandra', 4.0, 6000 );
INSERT INTO todolist(id,restaurant_name,location,zomato_rating,average_cost) VALUES (7, 'Marina', 'Colaba', 3.5, 1600 );
INSERT INTO todolist(id,restaurant_name,location,zomato_rating,average_cost) VALUES (8, 'SpiceKlub', 'Lower Parel', 4.5, 2100 );
INSERT INTO todolist(id,restaurant_name,location,zomato_rating,average_cost) VALUES(9,'Dome-InterContinental','Churgegate',4.1,3500);
INSERT INTO todolist(id,restaurant_name,location,zomato_rating,average_cost) VALUES (10, 'Aer - 4 seasons', 'Worli',4.3,4000);
'''